<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stupidwind.blog.dao.mapper.system.UserMapper">

    <select id="queryByUsername" resultType="User">
        select * from t_system_user t where t.ifuse = 'R' and t.username = #{username}
    </select>

</mapper>